@import url('https://fonts.cdnfonts.com/css/univers');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Arial';
  background-color: #ffffff;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: theme('colors.gray.500') #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 7px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: theme('colors.gray.500');
    border-radius: 4px;
  }
